.tl {
	background:url(pic/top_left.png) no-repeat;
	border:none;
	height:43px;
	white-space:nowrap;
	width:34px;
}
.tr {
	background:url(pic/top_right.png) no-repeat;
	border:none;
	white-space:nowrap;
	height:43px;
	width:32px;
}
.tm {
	background:url(pic/top_mid.png) repeat-x;
	border:none;
	height:43px;
}
.bl {
	background:url(pic/down_left.png) no-repeat;
	border:none;
	white-space:nowrap;
	height:52px;
	width:34px;
}
.br {
	background:url(pic/down_right.png) no-repeat;
	border:none;
	height:52px;
	width:32px;
}
.bm {
	background:url(pic/down_mid.png) repeat-x;
	border:none;
	min-height:54px;
	height:54px;
}
.mr {
	background:url(pic/mid_right.png) repeat-y;
	border:none;
	white-space:nowrap;
	width:32px;
}
.ml {
	background:url(pic/mid_left.png) repeat-y;
	border:none;
	white-space:nowrap;
	width:34px;
}
.main_body {
	background:url(pic/main_bg.png) repeat;
	border:none;
}
