.holder {
	background:#CCCCCC;
	border:2px solid #999999;
	z-index:2009;
	padding:5px;
	margin:10px;
	position:absolute;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:#736F6E
}
.kill_holder  {
	background:url(../image-resize/close.png) no-repeat #CCCCCC;
	border:2px solid #CCCCCC;
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-left-radius: 6px;
	width:16px;
	height:16px;
	float:right;
	cursor:pointer;
	position:absolute;
}
.loading_bg {
	height: 51px;
	width: 51px;
	position: absolute;
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	z-index: 999;
	background: transparent url(../image-resize/loading-bg.png) no-repeat left top;
}
.loading_icon {
	height: 100%;
	width: 100%;
	background: transparent url(../image-resize/loading.gif) no-repeat center center;
}
.resized:hover {
	cursor: url(../image-resize/zoomin.cur), help;
	border:none;
}
