@import "bbcode.css";
body {
	text-align:center;
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
	border:none;
	color:#565656;
	overflow:visible;
	background-color:#FFF;
	background-image:url(pic/outer_bg.png);
	background-repeat: repeat-x;
	font-family:Arial;
	font-size:9pt;
}
table {
	border: 1px solid #565656;
	border-collapse:collapse;
}
table .clear {
	border:none;
}
table.usersearch {
	border:0px;
}
td.usersearch {
	padding: 5px 0 5px 0;
}
table.main {
	/*background-color:#CCCCCC;*/
    border:none;
	color:#565656;
	border-collapse: collapse;
	padding:5px;
	text-align:left;
}
table.bottom {
	background:transparent;
}
h1 {
	font-size:12pt;
}
h2 {
	font-size:10pt;
	color:#565656;
	margin-bottom:6px;
}
p {
	font-size:8pt;
}
p.sub {
	background:transparent url(pic/colhead.png) repeat-x;
	border:1px solid #565656;
	color:#FFF;
	height:30px;
	margin-bottom:2pt;
	padding-top:3px;
	padding-left:4px;
	text-align:left;
	vertical-align:middle;
}

td {
	font-size:8pt;
	border:solid #000000 0px;
}
td.outer {
	border:solid #b7ae94 0px;
}
td.top {
	background-image:url(header.gif);
	height:44px;
	text-align:center;
	border:solid #b7ae94 0px;
}
td.usersearch {
	border:solid #b7ae94 0px;
}
td.embedded {
	border:none;
	text-align:left;
	padding:0;
}
td.bottom {
	border:none;
}
td.text {
	text-align:left;
	color:#565656;
	padding:10pt;
}
td.comment {
	font-size:8pt;
	text-align:left;
	padding:10pt;
}
td.colhead {
	background-image:url(pic/colhead.png);
	text-align:left;
	font-weight:800;
	color:#FFF;
}
td.rowhead {
	font-weight:700;
	text-align:right;
	vertical-align:top;
}
td.rowhead2 {
	font-weight:700;
	text-align:left;
	vertical-align:top;

}
td.title {
	font-size:14pt;
}
td.navigation {
	height:44px;
	text-align:center;
	border:solid #b7ae94 0px;
	font-weight:700;
	font-size:10pt;
}
td.clear {
	border:0;
	background:transparent;
	padding:0;
}
form {
	margin-top:0;
	margin-bottom:0;
}
.sublink {
	font-style:italic;
	font-size:7pt;
	font-weight:400;
}
font.gray {
	color:#565656;
	text-decoration:underline;
}
a:link, a:visited {
	text-decoration:none;
	color:#565656;
}
a:hover {
	color:#565656;
	text-decoration:underline;
}
a.biglink {
	font-weight:700;
	font-size:12pt;
}
a.altlink:link, a.altlink:visited {
	font-weight:700;
	color: #565656;
	text-decoration:none;
}
a.altlink_blue:link, a.altlink_blue:visited {
	font-weight:700;
	color:#565656;
	text-decoration:none;
}
a.altlink_green:link, a.altlink_green:visited {
	font-weight:700;
	color:#565656;
	text-decoration:none;
}
.important {
	font-weight:700;
	font-size:8pt;
}
.red {
	color:#e00;
}
.yellow {
	color:#970;
}
.green {
	color:#000;
}
input, select, textarea {
	font-family:"Arial", "arial", "helvetica", "sans-serif";
	font-size:8pt;
	margin:3px;
}
.btn {
	width:75px;
	height:23px;
}
.small {
	font-size:7pt;
}
.big {
	font-size:10pt;
}
li {
	margin-top:6pt;
	margin-bottom:6pt;
}
ul {
	margin-left:16pt;
	margin-top:0;
	margin-bottom:0;
}
img.border {
	border-color:#000;
	border-style:solid;
	border-width:0px;
}
td.heading {
	font-weight:bold;
	color:#565656;
	padding:3px;
}
table.ncode_imageresizer_warning {
	background: #FFFFE1;
	color: #565656;
	border: 1px solid #CCC;
	cursor: pointer;
}
table.ncode_imageresizer_warning td {
	font-size: 12px;
	color: red;
	vertical-align: middle;
	text-decoration: bold;
}
table.ncode_imageresizer_warning td.td1 {
	padding: 5px;
}
table.ncode_imageresizer_warning td.td1 {
	padding: 2px;
}
a.altlink:hover, a.altlink_blue:hover, a.altlink_green:hover {
	text-decoration:underline;
	color:#565656;
}
#logo {
	padding-top: 10px;
}
#welcometable {
	padding: 5px 0 5px 0;
}
a.sortlink {
	color: #565656;
}
#header-main {
	background-color:#ffffff;
	color: #565656;
}
#header-main td, #linkbar {
	background-color:#ffffff;
	color: #565656;
}
#search-text a.search-active {
	color: #565656;
	font-weight: inherit;
}
#search label {
	color: black; /* Main font color  - or a darker shade? */
}
#search fieldset {
	border: 0px solid #c2cfd8; /* lighter shade of light stripe */
	background-color: #eaf1f9; /* darker shade of light stripe */
}
#search legend {
	color: #565656; /* Main font color */
}
#search .linksBox a {
	color: #565656; /* This is the link color found in a:link,a:visited */
}
#search .linksBox a:hover {
	color: #565656; /* This is the background color found in #search fieldset */
	background-color: #4855e1; /* This is the link color found in a:link,a:visited */
}
#search .to {
	color: gray;
}
#font {
	color:#565656;
}
#popitmenu {
	position: absolute;
	background-color: #241a28;
	border:1px solid black;
	font: normal 12px Verdana;
	line-height: 18px;
	z-index: 100;
	visibility: hidden;
	color: #565656;
}
#popitmenu a {
	text-decoration: none;
	padding-left: 6px;
	color: #565656;
	display: block;
	font-weight: bold;
}
#popitmenu a:hover { /*hover background color*/
	background-color: #332831;
	color: #565656;
	font-weight: bold;
}
.codetop {
	background: #f1b000 url(pic/php.gif) no-repeat right;
	color: #565656;
	font-weight: bold;
	margin: 0 auto 0 auto;
	padding: 3px;
}
.codemain {
	background: #FFF;
	border: 1px solid #000;
	color: #565656;
	margin: 0 auto 0 auto;
	padding: 3px;
}
.highlight {
	background-color:#CCFF9D;
}
.highlight a:hover, .highlight a:active {
	color:#565656;
	background-color:#fd9e09;
}
.balloonstyle {
	position:absolute;
	top: -500px;
	left: 0;
	padding: 5px;
	visibility: hidden;
	border:1px solid #EAFF08;
	font:normal 12px Verdana;
	color: #565656;
	line-height: 18px;
	z-index: 100;
	background-color: black;
	width: 400px;
/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
filter: progid:DXImageTransform.Microsoft.Shadow(color=gray, direction=135, Strength=5);
}
#arrowhead {
	z-index: 99;
	position:absolute;
	top: -500px;
	left: 0;
	visibility: hidden;
}
.btns {
	font-size:12px;
	font-family:Verdana, sans-serif;
	font-weight:bold;
	color:#565656;
	background-color:#EEEEEE;
	border-style:solid;
	border-color:#BBBBBB;
	border-width:1px;
}
.faqhead {
	background: lightblue;
	border: 1px dotted #FFF;
	border-bottom: 0;
	border-left: 4px solid lightblue;
	color: #565656;
	font-weight: bold;
	font-size: 12px;
	margin: 8Px auto 0 auto;
	padding: 3px;
}
.faqbody {
	background: #F1F4F8;
	border: 1px solid lightblue;
	border-left: 4px solid lightblue;
	border-top: 0;
	color: #565656;
	padding: 10px;
	margin: 0 auto 8Px auto;
}
.infohead {
	background: orange;
	border: 1px dotted #FFF;
	border-bottom: 0;
	border-left: 4px solid orange;
	color: #565656;
	font-weight: bold;
	font-size: 12px;
	margin: 8Px auto 0 auto;
	padding: 3px;
}
.infobody {
	background: #F1F4F8;
	border: 1px solid orange;
	border-left: 4px solid orange;
	border-top: 0;
	color: #565656;
	padding: 10px;
	margin: 0 auto 8Px auto;
}
.errorhead {
	background: red;
	border: 1px dotted #FFF;
	border-bottom: 0;
	border-left: 4px solid red;
	color: #565656;
	font-weight: bold;
	font-size: 12px;
	margin: 8Px auto 0 auto;
	padding: 3px;
}
.errorbody {
	background: #F1F4F8;
	border: 1px solid red;
	border-left: 4px solid red;
	border-top: 0;
	color: #565656;
	padding: 10px;
	margin: 0 auto 8Px auto;
}
td .wtf {
	border : 1px double #233d71;
	background-color:#f97070;
}
.select2 {
	background-color:Deepskyblue;
	font-weight: bold;
}
table.list {
	width:100%;
	padding:0;
}
table.list td, table.list th {
	border-right:0;
	border-left:0;
}
table.list td div {
	background-color:#FFFFFF;
	padding:6px;
	border-left:1px solid #777777;
	border-right:1px solid #777777;
	border-bottom:1px solid #777777;
}
div.error, div.notice, div.info {
	margin:10px 100px;
	padding:10px;
	text-align:center;
	color:#565656;
	font-weight:bold;
	moz-border-radius:top-left 8px;
}
div.error {
	background-color:#FFAAAA;
	border:4px solid #FF0000;
}
div.notice {
	background-color:#AAAAFF;
	border:4px solid #0000FF;
}
div.info {
	background-color:#AAFFAA;
	border:4px solid #00FF00;
}
.spoiler {
	font-family:arial;
	padding:3px;
	font-size:10px;
	color:#565656;
	background-color:#000;
}
div.spoiler:hover {
	color:#565656;
}
/* fancy tooltip */

span.tool {
	position: relative;   /* this is key */
	cursor: help;
}
span.tool span.tip {
	white-space: nowrap;
	display: none;        /* so is this */
}
/* tooltip will display on :hover event */

span.tool:hover span.tip {
	display: block;
	z-index: 100;
	position: absolute;
	top: 1.6em;
	left: 0;
	width: auto;
	padding: 3px 7px 4px 6px;
	border: 1px solid #336;
	background-color: #f7f7ee;
	font: normal 1.2em/1.2em Arial, helvetica, sans-serif;
	text-align: left;
	color: #565656;
}
 #content span.tool::after {
 padding-left: 2px;            /* eye candy */
 content: url(pic/bubble.gif);
}
#poller { /* The poller box */
	text-align:center;
	/*position: center; */
font-size:1.0em;
	width:50%;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	padding:15px;
	border:1px double #000;
	font-family: arial, Lucida Sans Unicode, Arial, sans-serif;
}
/* Poller title above radio buttons */
.pollerTitle {
	margin-bottom:5px;
	font-weight:bold;
}
.op1 {
	color: #565656;
	background-color:#999999;
	width:100%;
}
.op2 {
	color: #565656;
	background-color:#0066FF;
	width:100%;
}
/* Label for each radio button */
.pollerOption {
	margin:0px;
}
/* Label for each option above graph - i.e. results */
.result_pollerOption {
	margin:0px;
	font-size:0.8em;
}
/* Title of poller - when ajax shows the results */
.result_pollerTitle {
	margin-bottom:5px;
	font-weight:bold;
	font-size:0.9em;
}
/* Don't change this one, it is used to get the left and right image(the corner) positioned correctly */
.result_pollGraph img {
	float:left;
}
/* The <div> tag where the percentage result is shown */
.result_pollGraph div {
	float:left;
	height:16px;
	background-repeat:repeat-x;
	color:#565656;
	font-size:0.9em;
	line-height:16px;
}
/* Graph div - parent of both the corner images and the div displaying percentage votes */
.result_pollGraph {
	height:16px;
}
/* Message when Ajax is working getting restults fromt the server */
.poller_waitMessage {
	display:none;
}
.result_totalVotes {
	clear:both;
	font-size:0.8em;
	margin-top:10px;
	font-style:italic;
}

.generated {
	color:#666666;
	padding:3px;
	font-size:9px;
	font-weight:bold;
}
input, select, textarea {
	font-size: 8pt;
	background:url(pic/textarea.png);
	background-color: #FFF;
	border: solid 1px #666666;
}
input:hover, select:hover, textarea:hover {
	border: solid 1px #999999;
}
input[type=button], input[type=submit], input[type=reset] {
	font-weight:bold;
	margin:5px;
}
.statusbar {
	position:fixed;
	background:url(pic/statusbar.png) repeat-x bottom scroll;
	color:#FFF;
	position: fixed;
	white-space:nowrap;
	min-width:100%;
	z-index:20;
	height:26px;
	text-align: center;
	font-size: 8px;
}
.statusbar a {
	text-decoration:none;
	color:#FFF;
}
.statusbar a:visited {
	text-decoration:none;
	color:#FFF;
}
.statusbar a:hover {
	color:#FFF;
	text-decoration:underline;}
#marqueecontainer{
position: relative;
height: 50px; /*marquee height */
overflow: hidden;
padding: 2px;

}
.menu123 {font-weight: bold; color:#FFF; text-align: left; font-size: 9pt; word-spacing: 20px;}
.menu456 {color:#FFF; text-align: left; padding-left: 0px; font-size: 7pt; padding-left: 30px;}
.menu123 a {
	text-decoration:none;
	color:#FFF;
	font-weight: bold;
}
.menu123 a:visited {
	text-decoration:none;
	color:#FFF;
	font-weight: bold;
}
.menu123 a:hover {
	color:#FFF;
	text-decoration:underline;
	font-weight: bold;}

.menu456 a {
	text-decoration:none;
	color:#FFF;
}
.menu123 a:visited {
	text-decoration:none;
	color:#FFF;}

.menu456 a:hover {
	color:#FFF;
	text-decoration:underline;}
td.colhead a {
	text-decoration:none;
	color:#FFF;
}
td.colhead a:visited {
	text-decoration:none;
	color:#FFF;}

.td.colhead a:hover {
	color:#FFF;
	text-decoration:none;}
p.sub a {
	text-decoration:none;
	color:#FFF;
}
p.sub a:visited {
	text-decoration:none;
	color:#FFF;}

p.sub a:hover {
	color:#FFF;
	text-decoration:none;}
.clearalt6 a {
	text-decoration:none;
	color:#FFF;
}
.clearalt6 a:visited {
	text-decoration:none;
	color:#FFF;}

.clearalt6 a:hover {
	color:#FFF;
	text-decoration:none;}
.lt { border: 0px;}

.sent, .notsent {
    width:100%;
    padding:5px;
    margin:5px;
    border:1px solid;
    color:#999999;
    text-align:center;
    font-weight:bold;
}
.sent {
    border-color: #49c24f;
    background:#bcffbf;
}
.notsent {
    border-color: #c24949;
    background:#ffbcbc;
}
.LanguageSelector{
margin-bottom:1em;
margin-left:14px;
width:700px;
float:center;
}
.LanguageSelector span.choose{
float:center;
margin-right:1em;
}
.LanguageSelector a{
text-decoration:none!important;
display:block;
float:left;
}
.LanguageSelector a.selected{
color:#999;
cursor:default;
}
.LanguageSelector a.selected:hover{
background:none;
}
.LanguageSelector b{
display:block;
float:left;
margin:0 .5em;
}
div#wiki-container {
display: table;
width: 100%;
}

div#wiki-row {
display: table-row;
}

div#wiki-navigation {
margin: 2px;
padding: 2px;
border: 1px solid #e2e2e2;
background-color: #C5D5D9;
}

div#wiki-content-left div#content-add {
text-align: center;
}

div#wiki-content-left textarea#body {
width: 90%;
height: 300px;
}

div#wiki-content-left {
display: table-cell;
}

div#wiki-content-right {
display: table-cell;
width: 250px;
padding-left: 10px;
}

div#wiki-content-left div#name, div#content, div#content-add {
margin: 2px;
padding: 2px;
border: 1px solid #e2e2e2;
background-color: #999999;
}

div#wiki-content-left div#name {
width: 80%;
text-align: center;
font-size: 18px;
}

div#wiki-content-left div#content, div#content-add {
width: 80%;
text-align: left;
}

div#wiki-content-right div#search, div#details {
margin: 2px;
padding: 2px;
border: 1px solid #e2e2e2;
background-color: #999999;
}

div#wiki-content-right div#search, div#details {
width: 250px;
}

div.wiki-search {
margin: 2px;
padding: 2px;
border: 1px solid #e2e2e2;
background-color: #999999;
}